* {
    margin: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    height: 100px;
}
.main {
    display: flex;
    min-height: calc(100vh - 100px);
}
.nav {
    width: 20%;
    flex-direction: column;
    padding-top: 5px;
}
.sidebars {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.content {
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
    padding-top: 5px;
}
.main-content {
    width: 70%;
    padding-left: 5px;
}
.ads {
    width: 30%;
    padding-left: 5px;
}
.footer {
    min-height: 100px;
    padding-top: 5px;
    padding-left: 5px;
}
.yellow {
    width: 100%;
    height: 100%;
    background-color: gold;
}